a {
    font-size: 18px;
}

h2 {
    text-align: center;
    color: #000000;
    font-size: 42px;
}

.topNav__link_cta_yellow {
    color: #ffac00;
    border: 2px solid;
}

.topNav__link_cta_yellow:hover {
    background: #ffac00;
    color: #fff;
}

.topNav__item.parent.parent__point:before {
    content: "\2022";
    font-size: 26px;
    font-weight: 700;
    line-height: 18px;
    position: absolute;
    top: 8px;
    left: 0;
    color: #ffac00;
}

.topNav_v2 .topNav_2levelList a {
    color: #ffac00;
    text-decoration: none;
    font-size: 16px;
}

.topNav__link_yellow:hover:after {
    background: #ffac00;
}

.topNav_v2 .topNav_2levelList_yellow a {
    color: #ffac00;
    text-decoration: none;
    font-size: 16px;
}

.topNav_2levelList_yellow a:hover {
    color: #ffac00;
    text-decoration: underline;
}

.hamburger__line_yellow {
    background: #ffac00;
}

/*MAIN*/
.innerPageTop__backgroundDream {
    background: url("../images/dream.png") no-repeat center center;
    height: 613px;
    margin-top: -50px;
}

.dream h1 {
    color: #ffffff;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
}

.dream__whiteBlock {
    font-size: 0;
    margin: 70px auto 0;
}

.triangles {
    display: inline-block;
    height: 85px;
    text-align: right;
    width: 4.05%;
}

.triangles-right {
    display: inline-block;
    height: 85px;
    text-align: right;
    width: 4.05%;
    transform: rotateY(180grad);
}

.triangles__down {
    transform: rotate3d(1, 0, 0, 180deg);
}

.dream__whiteBlock__bg {
    background: white;
    width: 90%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: inline-block;
}

.dream__whiteBlock__logo {
    display: inline-block;
    vertical-align: middle;
    height: 100px;
    margin: 35px 60px;
}

.dream__whiteBlock__text {
    display: inline-block;
    vertical-align: middle;
}

.dream__whiteBlock__text p {
    color: #1b6ac0;
    font-size: 40px;
    font-weight: bold;
    line-height: 1.2;
}

.dream__whiteBlock__desc {
    color: #fffefe;
    font-size: 24px;
    text-align: center;
    margin-top: 60px;
}

.whatIs, .task, .clientHistory, .mobileApp__content__desc {
    padding: 75px 0 120px 0;
    background: url(../images/dots-pattern.jpg) left bottom repeat-x;
    font-size: 0;
}

.whatIs__item__wrapper {
    text-align: center;
    display: inline-block;
    width: 25%;
    margin-top: 70px;
}

.whatIs__item__imageWrapper {
    padding: 40px 0;
    width: 140px;
    height: 140px;
    border-radius: 70px;
    background: #e5ecf2;
    margin: 0 auto 25px;
}

.whatIs__item__imageWrapper img {
    height: 60px;
}

.whatIs__item p {
    color: #000000;
    font-size: 20px;
    font-weight: bold;
    width: 85%;
    margin: 0 auto;
}

.task__item {
    position: relative;
    display: inline-block;
    margin: 90px 1% 0;
    width: 31.33333%;
    transition: all 0.4s ease 0s;
    overflow: hidden;
}

.task__item:hover .task__item__invisible {
    transition: all 0.4s ease 0s;
    transform: translateY(0%);
}

.task__item__desc__label {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    text-align: center;
}

.task__item__desc__text {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translateX(-50%);
    width: 85%;
    text-align: center;
}

.task__item__desc__text p {
    color: #ffffff;
    font-size: 28px;
    font-weight: bold;
    line-height: 1.3;
}

.task__item__invisible {
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    background: #e5ecf2;
    height: 100%;
    transform: translateY(100%);
    transition: all 0.4s ease 0s;
}

.task__item__invisible__text {
    width: 95%;
    margin: 15px auto;
}

.task__item__invisible__text p {
    display: block;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 10px;
}

.task__item__invisible__text p {
    color: #000000;
    font-size: 18px;
    line-height: 1.4;
}

.task__item__invisible__text span {
    color: #1b6ac0;
    font-size: 25px;
    font-weight: bold;
    line-height: 1.3;
}

.task__item__invisible__link {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
}

.task__item__invisible__link a {
    background: #0e82e2;
    color: #FFFFFF;
    text-decoration: none;
    font-weight: bold;
    padding: 15px 40px;
    box-sizing: border-box;
}

.task__item__invisible__link a:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.materialNumber, .services, .clientHistory {
    font-size: 0;
    letter-spacing: 0;
}

.services h2 {
    margin: 50px 0 50px;
}

.services__item {
    width: 23%;
    display: inline-block;
    text-align: center;
    margin: 0 1%;
}

.services__item img {
    margin: 0 auto 15px;
}

.services__item span {
    font-size: 20px;
    font-weight: bold;
    transition: all 0.4s ease 0s;
    display: block;
}

.services__item {
    transition: all 0.4s ease 0s;
}

.services__item:hover {
    transform: scale(1.1);
    transition: all 0.4s ease 0s;
    color: #1b89e4;
}

.services__desc {
    background-color: #f5f7fa;
    color: #000011;
    font-size: 18px;
    padding: 40px;
    margin: 60px auto;
}

.services__price {
    margin: 80px 0;
    background-color: #00447c;
}

.services__price__image {
    display: inline-block;
    padding: 40px 0 40px 60px;
    vertical-align: middle;
    width: 30%;
}

.services__price__text {
    display: inline-block;
    width: 60%;
    vertical-align: middle;
    padding: 40px 40px 40px 60px;
}

.services__price__text h3 {
    color: #ffffff;
    font-size: 42px;
    font-weight: bold;
    line-height: 1;
}

.services__price__text p {
    color: #ffffff;
    font-size: 20px;
    line-height: 1.3;
    margin: 40px 0;
}

.services__price__text span {
    color: #d3dce9;
    font-size: 42px;
    font-weight: bold;
}

.clientHistory {
    text-align: center;
}

.clientHistory__item {
    display: inline-block;
    margin: 90px 1% 0;
    width: 31.33333%;
    transition: all 0.4s ease 0s;
    position: relative;
    height: 500px;
}

.clientHistory__item h4 {
    color: #000011;
    font-size: 24px;
    font-weight: bold;
    margin: 30px;
}

.clientHistory__item p {
    color: #000011;
    font-size: 16px;
    padding: 0 40px;
}

.clientHistory__item__link {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
}

.clientHistory__item a {
    background: #0e82e2;
    color: #FFFFFF;
    text-decoration: none;
    font-weight: bold;
    padding: 15px 40px;
    box-sizing: border-box;
}

.clientHistory__item__link a:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.clients, .realisation, .thanks {
    padding: 0 0 70px;
    background: url(../images/blueDotsBtm.png) left bottom repeat-x;
    font-size: 0;
}

.clients__title {
    display: inline-block;
    width: 25%;
    vertical-align: middle;
}

.clients__slider {
    display: inline-block !important;
    width: 75%;
    vertical-align: middle;
    margin-top: 80px;
}

.owl-stage-outer {
    padding-bottom: 50px;
}

.secondBlock__heading {
    color: #FFFFFF;
}

.vnedrenie p {
    color: #ffffff;
    font-size: 24px;
    text-align: center;
}

/*1*/
.backgroundMaterialNumber {
    background: url("../images/number.png") no-repeat center center;
    height: 630px;
}

.materialNumber__breadcrumbs {
    padding-top: 25px;
}

.breadcrumbs-nav__item {
    font-size: 14px;
    color: #ffffff;
}

.materialNumber__breadcrumbs-nav__link {
    color: #a5bdd1;
    text-decoration: none;
}

.materialNumber__breadcrumbs-nav__link:hover {
    color: #ffffff;
}

.materialNumber__wrapper {
    margin-top: 60px;
}

.materialNumber-left {
    display: inline-block;
    width: 65%;
    margin-right: 5%;
}

.materialNumber-left h1 {
    color: #ffffff;
    font-size: 50px;
    font-weight: bold;
    line-height: 1.2;
}

.materialNumber-left p {
    color: #fffefe;
    font-size: 24px;
    line-height: 1.5;
    margin: 50px 0;
}

.materialNumber-left__list {
    display: inline-block;
    width: 50%;
    margin-bottom: 30px;
}

.materialNumber-left__list i {
    font-size: 40px;
    color: #4a87f7;
    vertical-align: middle;
}

.materialNumber-left__list span {
    padding-left: 10px;
    color: #fffefe;
    font-size: 20px;
    font-weight: bold;
    vertical-align: middle;
    line-height: 1.5;
}

.materialNumber-right {
    display: inline-block;
    width: 30%;
}

.materialNumber-right p {
    color: #ffffff;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 40px;
}

.materialNumber-right ul {
    margin-bottom: 40px;
}

.materialNumber-right li {
    color: #4ac8f5;
    font-size: 18px;
    list-style-type: outside;
    list-style: outside;
    margin-left: 20px;
    margin-bottom: 20px;
}

.materialNumber-right span {
    color: #ffffff;
}

.mobileApp {
    margin-top: 100px;
    font-size: 0;
    letter-spacing: 0;
}

.mobileApp__image {
    width: 25%;
    display: inline-block;
    margin-right: 5%;
    margin-bottom: 50px;
}

.mobileApp__content {
    width: 70%;
    display: inline-block;
    margin-bottom: 50px;
}

.mobileApp__content h2 {
    text-align: left;
    vertical-align: top;
    line-height: 1;
}

.mobileApp__content__label {
    display: inline-block;
    margin-right: 2%;
    vertical-align: middle;
    width: 10%;
}

.mobileApp__content__text {
    display: inline-block;
    color: #000011;
    font-size: 20px;
    margin: 50px auto 50px auto;
    vertical-align: middle;
    width: 38%;
}

.mobileApp__content hr {
    background-color: #e8e8e8;
    border: none;
    height: 1px;
}

.mobileApp__content__desc {
    color: #000011;
    font-size: 20px;
}

.mobileApp__content__desc span {
    font-weight: bold;
}

.mobileApp__content__desc {
    padding: 75px 0 120px 0;
    background: url(../images/dots-pattern.jpg) left bottom repeat-x;
}

.mobileApp__web-left {
    display: inline-block;
    width: 58%;
    margin-right: 2%;
}

.mobileApp__web-right {
    display: inline-block;
    width: 35%;
    margin-left: 5%;
}

.mobileApp__content__desc-noneDots {
    background: none;
}

.backgroundProject {
    background: url("../images/moscow.png") no-repeat center center;
    height: 629px;
}

.project__how {
    text-align: center;
}

.project__how h2 {
    font-size: 42px;
    font-weight: bold;
    margin: 0 auto;
    padding: 60px 0;
    line-height: 1;
}

.project__wrapper {
    text-align: center;
    font-size: 0;
    letter-spacing: 0;
}

.project__item__wrapper {
    text-align: center;
    display: inline-block;
    width: 15.8%;
}

.project__arrow {
    display: inline-block;
    transform: rotate(180deg);
    padding: 70px 20px;
}

.project__item__imageWrapper {
    padding: 45px 0;
    width: 160px;
    height: 160px;
    border-radius: 80px;
    background: #FFFFFF;
    margin: 0 auto 30px;
}

.project__item__time {
    background: #66b5df;
    width: fit-content;
    padding: 10px 30px;
    margin: 0 auto 30px;
}

.project__item p {
    color: #ffffff;
    font-size: 18px;
    width: 110%;
    margin-left: -5%;
}

.project__item__time p {
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    width: 100%;
    margin: 0;
}

.realisation {
    font-size: 0;
}

.realisation-left {
    width: 30%;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    margin-top: 50px;
}

.realisation-right {
    display: inline-block;
    width: 60%;
    margin-left: 10%;
    vertical-align: middle;
    margin-top: 50px;
}

.realisation-right h2 {
    color: #000011;
    font-size: 42px;
    font-weight: bold;
    text-align: left;
}

.realisation-right-half {
    display: inline-block;
    width: 45%;
    margin-right: 5%;
}

.realisation-right-half p {
    color: #000011;
    font-size: 30px;
}

.realisation-right-half li {
    color: #4ac8f5;
    font-size: 18px;
    list-style-type: outside;
    list-style: outside;
    margin-left: 20px;
    margin-bottom: 20px;
}

.realisation-right-half span {
    color: #000011;
}

/*2*/
.metroBackground {
    background: url("../images/metroBg.png") no-repeat center center;
}

.metro__wrapper {
    position: relative;
    height: 630px;
}

.metro-left {
    display: inline-block;
    width: 60%;
}

.metro-left h1 {
    color: #ffffff;
    font-size: 50px;
    font-weight: bold;
    margin: 50px 0;
}

.metro-left p {
    color: #fffefe;
    font-size: 24px;
    margin-bottom: 50px;
}

.metro-right {
    position: absolute;
    bottom: 0;
    width: 40%;
    display: inline-block;
    right: -150px;
}

.metro-left__list {
    margin-bottom: 0;
}

.metro-left hr {
    background-color: #ffffff;
    opacity: 0.1;
    margin: 30px 0;
}

.target {
    margin-top: 90px;
    position: relative;
}

.target-left {
    width: 55%;
    margin-bottom: 200px;
}

.target-left h2 {
    line-height: 1;
}

.target__dots, .functional__dots {
    padding: 0 0 110px;
    background: url(../images/dots-pattern.jpg) left bottom repeat-x;
    font-size: 0;
}

.target-left p {
    margin: 70px 0;
}

.target-right {
    position: absolute;
    right: 0;
    top: 0;
    width: 40%;
}

.functional {
    margin-top: 90px;
    position: relative;
}

.functional-left {
    position: absolute;
    left: 0;
    top: 0;
    width: 40%;
}

.functional-right {
    width: 55%;
    margin-bottom: 80px;
    margin-left: 40%;
}

.functional__dots h2 {
    color: #000000;
    font-size: 36px;
    font-weight: bold;
    text-align: left;
    line-height: 1;
}

.functional-right li {
    line-height: 1;
    font-size: 20px !important;
    margin: 10px 0 0 20px !important;
}

.result h2 {
    line-height: 1;
    transform: translateY(50%);
    background: #FFFFFF;
    width: 25%;
    margin: 0 auto;
}

.resultContainer__desc {
    border: 1px #e8e8e8 solid;
}

.resultContainer__desc p {
    padding: 70px 70px 20px;
    text-align: center;
}

.result__slider {
    text-align: center;
}

.result__slider__text-yellow {
    color: #ffad00;
    font-size: 60px;
    text-transform: uppercase;
    line-height: 1;
    margin-top: 20px;
}

.result__slider__text-small {
    color: #000011;
    font-size: 18px;
}

.result__slider__text-yellow-up {
    font-size: 15px;
    line-height: 1;
}

.owl-prev {
    background: rgba(0, 0, 0, 0) url(../images/prev.png) no-repeat scroll 0 0;
    height: 30px;
    width: 20px;
    float: left;
}

.owl-next {
    background: rgba(0, 0, 0, 0) url(../images/next.png) no-repeat scroll 0 0;
    height: 30px;
    width: 20px;
    float: right;
}

.result__slider {
    width: 90%;
    margin: 0 auto;
    position: relative;
    padding: 0;
}

.owl-stage-outer {
    padding: 0;
}

.owl-nav {
    position: static !important;
}

.owl-prev {
    position: absolute;
    top: 25%;
    left: -5%;
    transition: all 0.4s ease 0s;
}

.owl-next {
    position: absolute;
    top: 25%;
    right: -5%;
    transition: all 0.4s ease 0s;
}

.owl-prev:hover {
    background: rgba(0, 0, 0, 0) url(../images/prev.png) no-repeat scroll 0 0 !important;
    transform: scale(1.5);
    transition: all 0.4s ease 0s;
}

.owl-next:hover {
    background: rgba(0, 0, 0, 0) url(../images/next.png) no-repeat scroll 0 0 !important;
    transform: scale(1.5);
    transition: all 0.4s ease 0s;
}

.train {
    margin-top: 50px;
}

.backgroundTrain {
    background: url("../images/train.png") no-repeat center center;
    height: 545px;
}

.train__text-big {
    text-align: center;
    padding-top: 100px;
    color: #ffffff;
    font-size: 30px;
    margin-bottom: 50px;
}

.train__quote {
    text-align: center;
}

.train__quote__img {
    display: inline-block;
    background-color: #0081e9;
    border-radius: 35px;
    vertical-align: middle;
}

.train__quote__img img {
    padding: 25px;
}

.train__quote__text {
    display: inline-block;
    width: 60%;
    vertical-align: middle;
    margin-left: 20px;
    text-align: left;
}

.train__quote__text p {
    color: #ffffff;
    font-size: 18px;
}

.rewards {
    position: relative;
}

.rewardsContainer {
    margin-bottom: 30px;
}

.rewards-left {
    display: inline-block;
    width: 50%;
    margin: -100px auto auto -200px;
}

.rewards-right {
    width: 50%;
    margin-left: 100px;
    display: inline-block;
}

.rewards-right {
    margin-top: 50px;
}

.rewards-right h2 {
    text-align: left;
    color: #000000;
    font-size: 42px;
    font-weight: bold;
}

.rewards-right li, .functional li {
    color: #4ac8f5;
    font-size: 25px;
    list-style-type: outside;
    list-style: outside;
    margin: 15px 0 15px 20px;
}

.rewards-right span, .functional span {
    color: #000011;
}

.thanks {
    font-size: 0;
}

.thanks__title {
    display: inline-block;
    width: 35%;
    vertical-align: middle;
    margin-top: -10%;
}

.thanks__title h2 {
    color: #000000;
    font-size: 40px;
    font-weight: bold;
}

.thanks__slider {
    display: inline-block !important;
    width: 60%;
    vertical-align: middle;
    text-align: center;
    margin-left: 5%;
}

.thanks__slider .owl-prev {
    position: absolute;
    top: 50%;
    left: -5%;
}

.thanks__slider .owl-next {
    position: absolute;
    top: 50%;
    right: -5%;
}

/*----------------------------------------------------------------
Adaptive styles
----------------------------------------------------------------*/

@media only screen and (max-width: 1300px) {

    .project__arrow {
        padding: 60px 10px;
    }

    .project__item__imageWrapper {
        width: 140px;
        height: 140px;
        padding: 35px 0;
    }

    .target-left p {
        margin: 20px 0;
    }

    .target-left {
        margin-bottom: 0;
    }

    .target__dots, .functional__dots {
        padding: 0 0 90px;
    }
}

@media only screen and (max-width: 1200px) {

    .dream__whiteBlock__text p {
        font-size: 35px;
    }

    .clientHistory__item h4 {
        margin: 15px;
    }
}

@media only screen and (max-width: 1024px) {

    .topNav__link_cta_yellow {
        text-decoration: none;
        padding: 3px;
    }

    .dream {
        text-align: center;
    }

    .dream h1 {
        font-size: 40px;
        padding-top: 50px;
    }

    .dream__whiteBlock {
        display: inline-block;
        margin-top: 40px;
    }

    .dream__whiteBlock__logo {
        display: block;
        text-align: center;
        margin: 20px 60px;
    }

    .dream__whiteBlock__text {
        display: block;
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
    }

    .dream__whiteBlock__text p {
        font-size: 30px;
    }

    .dream__whiteBlock__desc {
        font-size: 22px;
        margin-top: 30px;
    }

    .whatIs {
        padding-top: 0;
    }

    .whatIs__item__wrapper {
        width: 50%;
        margin-top: 30px;
    }

    .task, .clientHistory {
        text-align: center;
        padding-top: 30px;
    }

    .task__item {
        margin-top: 30px;
        width: 48%;
    }

    .task__item:hover {
        transform: scale(1.05);
    }

    .services h2 {
        margin: 30px;
    }

    .services__desc {
        margin: 30px auto;
    }

    .services__price {
        margin: 30px 0 0;
    }

    .services__price__image {
        display: block;
        width: 100%;
        text-align: center;
        padding-bottom: 0;
    }

    .services__price__text {
        display: block;
        width: 100%;
    }

    .services__price__text p {
        margin: 20px 0;
    }

    .clientHistory__item {
        margin-top: 30px;
        width: 48%;
    }

    .clients__title {
        display: block;
        width: 100%;
    }

    .clients__slider {
        margin-top: 30px;
        display: block;
        width: 100%;
        text-align: center;
    }

    .project__how h2 {
        font-size: 42px;
        font-weight: bold;
        margin: 0 auto;
        padding: 20px 0;
        line-height: 1;
    }

    .project__arrow {
        padding: 45px 10px;
    }

    .project__arrow:nth-child(3n) {
        display: none;
    }

    .project__item__wrapper {
        width: 29%;
    }

    .project__item__imageWrapper {
        width: 110px;
        height: 110px;
        padding: 20px 0;
        margin-bottom: 10px;
    }

    .project__item__time {
        margin-bottom: 10px;
    }

    .project__item p {
        font-size: 16px;
    }

    .materialNumber__wrapper {
        margin-top: 30px;
    }

    .materialNumber-left h1 {
        font-size: 35px;
    }

    .materialNumber-left p {
        margin: 30px 0;
    }

    .materialNumber-left__list {
        margin-bottom: 15px;
    }

    .materialNumber-right p {
        font-size: 25px;
        margin-bottom: 30px;
    }

    .mobileApp {
        margin-top: 30px;
    }

    .mobileApp__image, .mobileApp__content, .mobileApp__web-left, .mobileApp__web-right, .realisation-left, .realisation-right {
        display: block;
        width: 100%;
        text-align: center;
        margin-bottom: 30px;
    }

    .mobileApp__content h2 {
        text-align: center;
    }

    .mobileApp__content__text {
        margin-top: 30px;
        margin-bottom: 30px;
        text-align: left;
    }

    .mobileApp__content__desc {
        padding-top: 30px;
    }

    .mobileApp__web-left {
        display: block;
        width: 100%;
        margin-bottom: 0;
    }

    .mobileApp__web-right {
        margin: auto auto 50px;
    }

    .mobileApp__content__desc-noneDots {
        padding-bottom: 30px;
    }

    .realisation-left {
        margin-top: 30px;
    }

    .realisation-right {
        margin: 0;
        text-align: left;
    }

    .metro-left {
        display: block;
        width: 100%;
        text-align: center;
    }

    .metro-right {
        display: none;
    }

    .target {
        margin-top: 50px;
    }

    .target-left {
        display: block;
        width: 100%;
    }

    .target-right, .functional-left {
        position: static;
        text-align: center;
        width: auto;
        margin-bottom: 30px;
    }

    .functional {
        margin-top: 0;
    }

    .functional-right {
        width: 100%;
        display: block;
        margin: 0 0 20px;
    }

    .functional__dots h2 {
        text-align: center;
    }

    .result__slider {
        width: 100%;
    }

    .rewards-left {
        display: none;
    }

    .rewards-right {
        width: 100%;
    }

    .rewards-right h2, .rewards-right {
        text-align: center;
    }

    .rewards-right li {
        text-align: left;
    }

    .thanks__title {
        display: block;
        width: 100%;
        margin: 0 0 30px;
    }

    .thanks__slider {
        width: 100%;
        text-align: center;
        margin: 0 auto;
    }
}

@media only screen and (max-width: 768px) {

    .dream h1 {
        line-height: 1.1;
        font-size: 35px;
    }

    .dream__whiteBlock {
        margin-top: 20px;
    }

    .dream__whiteBlock__text p {
        font-size: 25px;
    }

    h2 {
        line-height: 1.1;
        font-size: 35px;
    }

    .task__item__desc__label img {
        max-height: 60px;
    }

    .task__item__desc__text p {
        font-size: 22px;
    }

    .materialNumber-left h1 {
        font-size: 30px;
    }

    .materialNumber-left p {
        font-size: 20px;
        margin: 20px auto;
    }

    .materialNumber-right p {
        font-size: 25px;
        margin-bottom: 30px;
    }

    .project {
        padding: 0;
    }

    .backgroundProject {
        height: 850px;
        background-size: cover;
    }

    .project__how h2 {
        font-size: 30px;
    }

    .project__item__wrapper {
        width: 45%;
        margin-bottom: 20px;
    }

    .project__item p {
        width: 100%;
    }

    .project__arrow:nth-child(3n) {
        display: inline-block;
    }

    .project__arrow:nth-child(4n+4) {
        display: none;
    }

}

@media only screen and (max-width: 640px) {

    .dream h1 {
        padding-top: 30px;
        font-size: 33px;
        line-height: 1;
    }

    .dream__whiteBlock__desc {
        line-height: 1.2;
    }

    .task__item {
        width: 100%;
    }

    .services__item {
        width: 48%;
        padding-bottom: 20px;
    }

    .services__desc {
        margin-top: 10px;
    }

    .services__price__text p {
        font-size: 18px;
    }

    .services__price__text span {
        font-size: 30px;
    }

    .clientHistory__item {
        width: 100%;
    }

    .clientHistory__item h4, .clientHistory__item p {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    .vnedrenie h2 {
        margin-bottom: 30px;
    }

    .vnedrenie p {
        font-size: 20px;
        margin-bottom: 30px;
    }

    .backgroundProject {
        height: 920px;
    }

    .backgroundMaterialNumber {
        background: linear-gradient(to right, rgb(1, 69, 125) 0%, rgb(0, 61, 112) 100%) no-repeat center center;
        height: auto;
    }

    .materialNumber-left {
        display: block;
        width: 100%;
    }

    .materialNumber-right {
        width: 100%;
        display: block;
    }

    .materialNumber-right-half {
        width: 40%;
        display: inline-block;
        margin-right: 10%;
    }

    .materialNumber-right p {
        margin: 20px auto 15px;
    }

    .mobileApp__content__label {
        display: inline-block;
        margin-right: 2%;
        vertical-align: middle;
        width: 20%;
    }

    .mobileApp__content__text {
        display: inline-block;
        color: #000011;
        font-size: 20px;
        margin: 20px auto 20px auto;
        vertical-align: middle;
        width: 78%;
    }
}

@media only screen and (max-width: 480px) {
    .project__how h2 {
        line-height: 1;
        font-size: 25px;
    }

    .project__item__wrapper {
        width: 49%;
    }

    .project__arrow {
        display: none !important;
    }
}
