a {
    font-size: 18px;
}

h2 {
    text-align: center;
    color: #000000;
    font-size: 42px;
}

.topNav__link_cta_yellow {
    color: #ffac00;
    border: 2px solid;
}

.topNav__link_cta_yellow:hover {
    background: #ffac00;
    color: #fff;
}

.topNav__item.parent.parent__point:before {
    content: "\2022";
    font-size: 26px;
    font-weight: 700;
    line-height: 18px;
    position: absolute;
    top: 8px;
    left: 0;
    color: #ffac00;
}

.topNav_v2 .topNav_2levelList a {
    color: #ffac00;
    text-decoration: none;
    font-size: 16px;
}

.topNav__link_yellow:hover:after {
    background: #ffac00;
}

.topNav_v2 .topNav_2levelList_yellow a {
    color: #ffac00;
    text-decoration: none;
    font-size: 16px;
}

.topNav_2levelList_yellow a:hover {
    color: #ffac00;
    text-decoration: underline;
}

.hamburger__line_yellow {
    background: #ffac00;
}

/*MAIN*/
.innerPageTop__backgroundDream {
    background: url("../images/dream.png") no-repeat center center;
    height: 613px;
    margin-top: -50px;
}

.dream h1 {
    color: #ffffff;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
}

.dream__whiteBlock {
    font-size: 0;
    margin: 70px auto 0;
}

.triangles {
    display: inline-block;
    height: 85px;
    text-align: right;
    width: 4.05%;
}

.triangles-right {
    display: inline-block;
    height: 85px;
    text-align: right;
    width: 4.05%;
    transform: rotateY(180grad);
}

.triangles__down {
    transform: rotate3d(1, 0, 0, 180deg);
}

.dream__whiteBlock__bg {
    background: white;
    width: 90%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: inline-block;
}

.dream__whiteBlock__logo {
    display: inline-block;
    vertical-align: middle;
    height: 100px;
    margin: 35px 60px;
}

.dream__whiteBlock__text {
    display: inline-block;
    vertical-align: middle;
}

.dream__whiteBlock__text p {
    color: #1b6ac0;
    font-size: 40px;
    font-weight: bold;
    line-height: 1.2;
}

.dream__whiteBlock__desc {
    color: #fffefe;
    font-size: 24px;
    text-align: center;
    margin-top: 60px;
}

.whatIs, .task, .clientHistory, .mobileApp__content__desc {
    padding: 75px 0 120px 0;
    background: url(../images/dots-pattern.jpg) left bottom repeat-x;
    font-size: 0;
}

.whatIs__item__wrapper {
    text-align: center;
    display: inline-block;
    width: 25%;
    margin-top: 70px;
}

.whatIs__item__imageWrapper {
    padding: 40px 0;
    width: 140px;
    height: 140px;
    border-radius: 70px;
    background: #e5ecf2;
    margin: 0 auto 25px;
}

.whatIs__item__imageWrapper img {
    height: 60px;
}

.whatIs__item p {
    color: #000000;
    font-size: 20px;
    font-weight: bold;
    width: 85%;
    margin: 0 auto;
}

.task__item {
    display: inline-block;
    margin: 90px 1% 0;
    width: 31.33333%;
    transition: all 0.4s ease 0s;
}

.task__item:hover {
    transform: scale(1.1);
    transition: all 0.4s ease 0s;
}

.task__item__bg {
    position: relative;
}

.task__item__desc__label {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    text-align: center;
}

.task__item__desc__text {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translateX(-50%);
    width: 85%;
    text-align: center;
}

.task__item__desc__text p {
    color: #ffffff;
    font-size: 28px;
    font-weight: bold;
    line-height: 1.3;
}

.materialNumber, .services, .clientHistory {
    font-size: 0;
    letter-spacing: 0;
}

.services h2 {
    margin: 50px 0 50px;
}

.services__item {
    width: 23%;
    display: inline-block;
    text-align: center;
    margin: 0 1%;
}

.services__item img {
    margin: 0 auto 15px;
}

.services__item span {
    font-size: 20px;
    font-weight: bold;
    transition: all 0.4s ease 0s;
    display: block;
}

.services__item {
    transition: all 0.4s ease 0s;
}

.services__item:hover {
    transform: scale(1.1);
    transition: all 0.4s ease 0s;
    color: #1b89e4;
}

.services__desc {
    background-color: #f5f7fa;
    color: #000011;
    font-size: 18px;
    padding: 40px;
    margin: 60px auto;
}

.services__price {
    margin: 80px 0;
    background-color: #00447c;
}

.services__price__image {
    display: inline-block;
    padding: 40px 0 40px 60px;
    vertical-align: middle;
    width: 30%;
}

.services__price__text {
    display: inline-block;
    width: 60%;
    vertical-align: middle;
    padding: 40px 40px 40px 60px;
}

.services__price__text h3 {
    color: #ffffff;
    font-size: 42px;
    font-weight: bold;
    line-height: 1;
}

.services__price__text p {
    color: #ffffff;
    font-size: 20px;
    line-height: 1.3;
    margin: 40px 0;
}

.services__price__text span {
    color: #d3dce9;
    font-size: 42px;
    font-weight: bold;
}

.clientHistory {
    text-align: center;
}

.clientHistory__item {
    display: inline-block;
    margin: 90px 1% 0;
    width: 31.33333%;
    transition: all 0.4s ease 0s;
    position: relative;
    height: 500px;
}

.clientHistory__item h4 {
    color: #000011;
    font-size: 24px;
    font-weight: bold;
    margin: 30px;
}

.clientHistory__item p {
    color: #000011;
    font-size: 16px;
    padding: 0 40px;
}

.clientHistory__item__link {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
}

.clientHistory__item a {
    background: #0e82e2;
    color: #FFFFFF;
    text-decoration: none;
    font-weight: bold;
    padding: 15px 40px;
    box-sizing: border-box;
}

.clientHistory__item__link a:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.clients {
    padding: 0 0 70px;
    background: url(../images/blueDotsBtm.png) left bottom repeat-x;
    font-size: 0;
}

.clients__title {
    display: inline-block;
    width: 25%;
    vertical-align: middle;
}

.clients__slider {
    display: inline-block !important;
    width: 75%;
    vertical-align: middle;
    margin-top: 80px;
}

.owl-nav {
    display: none;
}

.owl-stage-outer {
     padding-bottom: 50px;
}

.secondBlock__heading {
    color: #FFFFFF;
}

.vnedrenie p {
    color: #ffffff;
    font-size: 24px;
    text-align: center;
}

/*1*/
.backgroundMaterialNumber {
    background: url("../images/number.png") no-repeat center center;
    height: 630px
}

.materialNumber__breadcrumbs {
    padding-top: 25px;
}

.breadcrumbs-nav__item {
    font-size: 14px;
    color: #ffffff;
}

.materialNumber__breadcrumbs-nav__link {
    color: #a5bdd1;
    text-decoration: none;
}

.materialNumber__breadcrumbs-nav__link:hover {
    color: #ffffff;
}

.materialNumber__wrapper {
    margin-top: 60px;
}

.materialNumber-left {
    display: inline-block;
    width: 65%;
    margin-right: 5%;
}

.materialNumber-left h1 {
    color: #ffffff;
    font-size: 50px;
    font-weight: bold;
    line-height: 1.2;
}

.materialNumber-left p {
    color: #fffefe;
    font-size: 24px;
    line-height: 1.5;
    margin: 50px 0;
}

.materialNumber-left__list {
    display: inline-block;
    width: 50%;
    margin-bottom: 30px;
}

.materialNumber-left__list i {
    font-size: 40px;
    color: #4a87f7;
    vertical-align: middle;
}

.materialNumber-left__list span {
    padding-left: 20px;
    color: #fffefe;
    font-size: 20px;
    font-weight: bold;
    vertical-align: middle;
}

.materialNumber-right {
    display: inline-block;
    width: 30%;
}

.materialNumber-right p {
    color: #ffffff;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 40px;
}

.materialNumber-right ul {
    margin-bottom: 40px;
}

.materialNumber-right li {
    color: #4ac8f5;
    font-size: 18px;
    list-style-type: outside;
    list-style: outside;
    margin-left: 20px;
    margin-bottom: 20px;
}

.materialNumber-right span {
    color: #ffffff;
}

.mobileApp {
    margin-top: 100px;
    font-size: 0;
    letter-spacing: 0;
}

.mobileApp__image {
    width: 25%;
    display: inline-block;
    margin-right: 5%;
    margin-bottom: 50px;
}

.mobileApp__content {
    width: 70%;
    display: inline-block;
    margin-bottom: 50px;
}

.mobileApp__content h2 {
    text-align: left;
    vertical-align: top;
    line-height: 1;
}

.mobileApp__content__label {
    display: inline-block;
    margin-right: 25px;
    vertical-align: middle;
}

.mobileApp__content__text {
    display: inline-block;
    color: #000011;
    font-size: 20px;
    margin: 50px 50px 50px 0;
    vertical-align: middle;
}

.mobileApp__content hr {
    background-color: #e8e8e8;
    border: none;
    height: 1px;
}

.mobileApp__content__desc {
    color: #000011;
    font-size: 20px;
}

.mobileApp__content__desc span {
    font-weight: bold;
}

.mobileApp__content__desc {
    padding: 75px 0 120px 0;
    background: url(../images/dots-pattern.jpg) left bottom repeat-x;
}

.mobileApp__web-left {
    display: inline-block;
    width: 58%;
    margin-right: 2%;
}

.mobileApp__web-right {
    display: inline-block;
    width: 40%;
}

/*----------------------------------------------------------------
Adaptive styles
----------------------------------------------------------------*/

@media only screen and (max-width: 1200px) {

    .dream__whiteBlock__text p {
        font-size: 35px;
    }

    .clientHistory__item h4 {
        margin: 15px;
    }
}

@media only screen and (max-width: 1024px) {

    .topNav__link_cta_yellow {
        text-decoration: none;
        padding: 3px;
    }

    .dream {
        text-align: center;
    }

    .dream h1 {
        font-size: 40px;
        padding-top: 50px;
    }

    .dream__whiteBlock {
        display: inline-block;
        margin-top: 40px;
    }

    .dream__whiteBlock__logo {
        display: block;
        text-align: center;
        margin: 20px 60px;
    }

    .dream__whiteBlock__text {
        display: block;
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
    }

    .dream__whiteBlock__text p {
        font-size: 30px;
    }

    .dream__whiteBlock__desc {
        font-size: 22px;
        margin-top: 30px;
    }

    .whatIs {
        padding-top: 0;
    }

    .whatIs__item__wrapper {
        width: 50%;
        margin-top: 30px;
    }

    .task, .clientHistory {
        text-align: center;
        padding-top: 30px;
    }



    .task__item {
        margin-top: 30px;
        width: 48%;
    }

    .task__item:hover {
        transform: scale(1.05);
    }

    .services h2 {
        margin: 30px;
    }

    .services__desc {
        margin: 30px auto;
    }

    .services__price {
        margin: 30px 0;
    }

    .clientHistory__item {
        margin-top: 30px;
        width: 48%;
    }

    .clients__title {
        display: block;
        width: 100%;
    }

    .clients__slider {
        margin-top: 30px;
        display: block;
        width: 100%;
        text-align: center;
    }
}

@media only screen and (max-width: 768px) {

    .dream h1 {
        line-height: 1.1;
        font-size: 35px;
    }

    .dream__whiteBlock {
        margin-top: 20px;
    }

    .dream__whiteBlock__text p {
        font-size: 25px;
    }
}

@media only screen and (max-width: 640px) {

}

@media only screen and (max-width: 480px) {

}
