/*1*/
.backgroundMaterialNumber {
    background: url("../images/number.png") no-repeat center center;
    height: 630px
}

.materialNumber {
    font-size: 0;
    letter-spacing: 0;
}

.materialNumber__breadcrumbs {
    padding-top: 25px;
}

.breadcrumbs-nav__item {
    font-size: 14px;
    color: #ffffff;
}

.materialNumber__breadcrumbs-nav__link {
    color: #a5bdd1;
    text-decoration: none;
}

.materialNumber__breadcrumbs-nav__link:hover {
    color: #ffffff;
}

.materialNumber__wrapper {
    margin-top: 60px;
}

.materialNumber-left {
    display: inline-block;
    width: 65%;
    margin-right: 5%;
}

.materialNumber-left h1 {
    color: #ffffff;
    font-size: 50px;
    font-weight: bold;
    line-height: 1.2;
}

.materialNumber-left p {
    color: #fffefe;
    font-size: 24px;
    line-height: 1.5;
    margin: 50px 0;
}

.materialNumber-left__list {
    display: inline-block;
    width: 50%;
    margin-bottom: 30px;
}

.materialNumber-left__list i {
    font-size: 40px;
    color: #4a87f7;
    vertical-align: middle;
}

.materialNumber-left__list span {
    padding-left: 20px;
    color: #fffefe;
    font-size: 20px;
    font-weight: bold;
    vertical-align: middle;
}

.materialNumber-right {
    display: inline-block;
    width: 30%;
}

.materialNumber-right p {
    color: #ffffff;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 40px;
}

.materialNumber-right ul {
    margin-bottom: 40px;
}

.materialNumber-right li {
    color: #4ac8f5;
    font-size: 18px;
    list-style-type: outside;
    list-style: outside;
    margin-left: 20px;
    margin-bottom: 20px;
}

.materialNumber-right span {
    color: #ffffff;
}

.mobileApp {
    margin-top: 100px;
    font-size: 0;
    letter-spacing: 0;
}

.mobileApp__image {
    width: 25%;
    display: inline-block;
    margin-right: 5%;
    margin-bottom: 50px;
}

.mobileApp__content {
    width: 70%;
    display: inline-block;
    margin-bottom: 50px;
}

.mobileApp__content h2 {
    text-align: left;
    vertical-align: top;
    line-height: 1;
}

.mobileApp__content__label {
    display: inline-block;
    margin-right: 25px;
    vertical-align: middle;
}

.mobileApp__content__text {
    display: inline-block;
    color: #000011;
    font-size: 20px;
    margin: 50px 50px 50px 0;
    vertical-align: middle;
}

.mobileApp__content hr {
    background-color: #e8e8e8;
    border: none;
    height: 1px;
}

.mobileApp__content__desc {
    color: #000011;
    font-size: 20px;
}

.mobileApp__content__desc span {
    font-weight: bold;
}

.mobileApp__content__desc {
    padding: 75px 0 120px 0;
    background: url(../images/dots-pattern.jpg) left bottom repeat-x;
}