<!DOCTYPE html>
<html lang="ru">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>

    <title>SAP Business One - доступное ERP решение для МСБ</title>

    <meta name="autor" content="Danil Konstantinow Petersburg-Studio.com ">
    <meta name="yandex-verification" content="40e3a3de8b68ad61"/>
    <meta name="google-site-verification" content="JZ4srg4KNJ0vtcJ2n0wOwxQUcrp4fi1j2SyqZWsukbM"/>
    <meta name="cmsmagazine" content="3b87f91765e204550bfffef42f6cbbed"/>
    <meta name="yandex-verification" content="b567eb520b8c54ec"/>


    <meta name="description" content="SAP Business One для малого и среднего бизнеса"/>
    <meta name="keywords" content="SAP Business One, СМБ, МСБ">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    <style type="text/css">* {
        margin: 0;
        padding: 0;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    header, footer, article, section, hgroup, nav, figure, aside {
        display: block;
    }</style>

    <link rel="stylesheet" href="js/OwlCarousel2-2.2.1/dist/assets/owl.castom.carousel.min.css">
    <link rel="stylesheet" href="js/OwlCarousel2-2.2.1/dist/assets/owl.theme.default.min.css">
    <!--<link rel="stylesheet" href="--><!--css/owl.carousel.min.css">-->

    <link rel="stylesheet" href="/templates/sap/FlexSlider/flexslider-custom.css">
    <!--<link rel="stylesheet" href="/templates/sap/Remodal-1.1.1/src/remodal.css">-->
    <!--<link rel="stylesheet" href="/templates/sap/Remodal-1.1.1/src/remodal-default-theme.css">-->
    <link rel="stylesheet" href="js/Remodal-1.1.1/dist/remodal.css">
    <link rel="stylesheet" href="js/Remodal-1.1.1/dist/remodal-default-theme.css">
    <link rel="stylesheet" href="css/main-plus09-10-17.css?" type="text/css">
    <link rel="stylesheet" href="css/addon.css?" type="text/css">
    <link rel="stylesheet" href="css/responsive.css?" type="text/css">
    <link rel="stylesheet" href="css/erp-solution-block.css" type="text/css">

    <link rel="stylesheet" href="/templates/sap/slickslider/slick.css" type="text/css">
    <link rel="stylesheet" href="/templates/sap/slickslider/slick-theme.css" type="text/css">
    <link rel="stylesheet" href="/templates/sap/fancybox3/jquery.fancybox.min.css" type="text/css">
    <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css">

    <link rel="stylesheet" href="css/new.css" type="text/css">


    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
          integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">


    <link rel="manifest" href="/manifest.json"/>
    <script src="https://cdn.onesignal.com/sdks/OneSignalSDK.js" async=""></script>
    <script>
        var OneSignal = window.OneSignal || [];
        OneSignal.push(function () {
            OneSignal.init({
                appId: "90a1a9c9-0d46-4e0b-884e-0a9da6c390b4",
            });
        });
    </script>
    <!--

    <link rel="stylesheet" href="/templates/sap/assets/components/ajaxform/css/default.css" type="text/css" />

    --></head>

<body>

<header class="header header_margin">

    <div class="container_fixed stykyNav" id="navBar">
        <div class="container">
            <div class="logoWrapper">
                <a href="/" title="На главную">
                    <img class="firstScreen__logo logo_1" title="logo-titile" src="images/logo2.png">
                </a>
                <p class="descriptionLogo">it-решения для устойчивого развития</p>
            </div>

            <div class="searchWrapper">
                <form action="/search/search_do/" method="get" class="header-search-form" id="searchForm">
                    <input type="text" name="search_string" autocomplete="off" class="header-search-form__input"
                           placeholder="поиск..." value="">
                    <div class="header-search-form_wrSubmit">
                        <label>
                            <input type="submit" class="header-search-form__submit" value="">
                            <i class="fas fa-search serachSubmitIco"></i>
                        </label>
                    </div>
                </form>
                <div class="search_content" style="display: none;"></div>
                <script id="search_result_template" type="text/template">
                    <% _.each(typesList, function(type) { %>
                    <ul class="goods_list" style="">
                        <li>
								<span class="list_heading gray_text">
									<%= type.module ? type.name : '&nbsp;' %>
								</span>

                            <ul>
                                <% _.each(type.elements, function(page) { %>
                                <li class="clearfix">
                                    <a href="<%= page.link %>" class="pull-left">
                                        <%= page.h1 %>
                                    </a>
                                </li>
                                <% }); %>
                            </ul>
                        </li>
                    </ul>
                    <% }); %>

                    <div class="all_result">
                        <a>Все результаты поиска</a>
                    </div>
                </script>
            </div>
            <div class="phoneCtaWrapper">
                <p class="phoneRow"><span class="phonePrefix">+7 (812)</span> 602-18-91</p>
                <a class="topNav__link_cta topNav__link_cta_yellow" href="#modal-call-phone">Free Demo</a></li>
                <div class="header-adaptive-search-col">
                    <a href="#" class="header-search__ico"><i class="fas fa-search"></i></a>
                </div>
            </div>


            <div class="search-adaptive-block">
                <form action="/search/search_do/" method="get" class="header-search-form">
                    <input type="text" name="search_string" class="header-search-form__input" placeholder="поиск..."
                           value="">
                    <input type="submit" class="header-search-form__submitMob" value="">
                </form>
            </div>

        </div>
    </div>
    <div class="menuDesctop_v2">
        <div class="container">
            <nav class="nav topNav topNav_v2">
                <li class="topNav__item parent">
                    <a class="topNav__link topNav__link_yellow" href="#">Функции</a>
                    <ul class="topNav_2levelList topNav_2levelList_yellow">
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                    </ul>
                </li>

                <li class="topNav__item parent parent__point"></li>

                <li class="topNav__item parent">
                    <a class="topNav__link topNav__link_yellow" href="#">free trial</a>
                    <ul class="topNav_2levelList topNav_2levelList_yellow">
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                    </ul>
                </li>

                <li class="topNav__item parent parent__point"></li>

                <li class="topNav__item parent">
                    <a class="topNav__link topNav__link_yellow" href="#">приобрести</a>
                    <ul class="topNav_2levelList topNav_2levelList_yellow">
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                    </ul>
                </li>

                <li class="topNav__item parent parent__point"></li>

                <li class="topNav__item parent">
                    <a class="topNav__link topNav__link_yellow" href="#">сроки</a>
                    <ul class="topNav_2levelList topNav_2levelList_yellow">
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                    </ul>
                </li>

                <li class="topNav__item parent parent__point"></li>

                <li class="topNav__item parent">
                    <a class="topNav__link topNav__link_yellow" href="#">контакты </a>
                    <ul class="topNav_2levelList topNav_2levelList_yellow">
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                    </ul>
                </li>

            </nav>

        </div>
    </div>

    <nav class="nav topNav" id="mobileMenu">
        <li class="topNav__item">
            <a class="topNav__link has_child" href="#">Функции<span class="mobileMenu__hasList"><i
                    class="fas fa-chevron-right"></i></span> </a>
            <ul class="topNav_2levelList_m">
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
            </ul>
        </li>

        <li class="topNav__item">
            <a class="topNav__link has_child" href="#">free trial<span class="mobileMenu__hasList"><i
                    class="fas fa-chevron-right"></i></span> </a>
            <ul class="topNav_2levelList_m">
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
            </ul>
        </li>

        <li class="topNav__item">
            <a class="topNav__link has_child" href="#">приобрести<span class="mobileMenu__hasList"><i
                    class="fas fa-chevron-right"></i></span> </a>
            <ul class="topNav_2levelList_m">
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
            </ul>
        </li>

        <li class="topNav__item">
            <a class="topNav__link has_child" href="#">сроки<span class="mobileMenu__hasList"><i
                    class="fas fa-chevron-right"></i></span> </a>
            <ul class="topNav_2levelList_m">
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
            </ul>
        </li>

        <li class="topNav__item">
            <a class="topNav__link has_child" href="#">контакты<span class="mobileMenu__hasList"><i
                    class="fas fa-chevron-right"></i></span> </a>
            <ul class="topNav_2levelList_m">
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
            </ul>
        </li>

        <div class="" style="padding-top: 40px; text-align: center;">
            <a class="phoneRow" href="tel:+7 (812) 602-18-91"><span class="phonePrefix">+7 (812)</span> 602-18-91</a>
            <a class="topNav__link_cta topNav__link_ctaMenu" href="#modal-call-phone">Заказать звонок</a>
        </div>
    </nav>

    <button id="hamburger" href="#" title="Menu" class="">
        <span class="hamburger__line hamburger__line-1 hamburger__line_yellow"></span>
        <span class="hamburger__line hamburger__line-2 hamburger__line_yellow"></span>
        <span class="hamburger__line hamburger__line-3 hamburger__line_yellow"></span>
    </button>
</header>

<!--TODO-->

<section class="section logoPageTop">
    <div class="container">
        <div class="erp-solution-section__head erp-solution-section__head__inline erp-solution-section__head__inline_project">
            <div class="erp-solution-section__ico erp-solution-section__ico_big">
                <img src="images/SAPLogo.png">
            </div>
            <h1 class="erp-solution-section__title erp-solution-section__title_inline erp-solution-section__title_project">Получайте аналитику в
                реальном времени</h1>
        </div>
    </div>
</section>

<section class="section project">
    <div class="backgroundProject">
        <div class="container container_withBg">
            <div class="project__how">
                <h2>Как мы делаем проект запуска <br> SAP Analytics cloud:</h2>
            </div>
            <div class="project__wrapper">
                <div class="project__item__wrapper">
                    <div class="project__item">
                        <div class="project__item__imageWrapper">
                            <img src="images/fixing.svg">
                        </div>
                        <div class="project__item__time">
                            <p>3 дня</p>
                        </div>
                        <p>Фиксируем перечень требований к отчетности </p>
                    </div>
                </div>
                <div class="project__arrow">
                    <img src="images/arrow.svg">
                </div>
                <div class="project__item__wrapper">
                    <div class="project__item">
                        <div class="project__item__imageWrapper">
                            <img src="images/planning.svg">
                        </div>
                        <div class="project__item__time">
                            <p>7-10 дней</p>
                        </div>
                        <p>Разрабатываем шаблоны отчетов </p>
                    </div>
                </div>
                <div class="project__arrow">
                    <img src="images/arrow.svg">
                </div>
                <div class="project__item__wrapper">
                    <div class="project__item">
                        <div class="project__item__imageWrapper">
                            <img src="images/server.svg">
                        </div>
                        <div class="project__item__time">
                            <p>4-10 дней</p>
                        </div>
                        <p>Подключаем источники данных</p>
                    </div>
                </div>
                <div class="project__arrow">
                    <img src="images/arrow.svg">
                </div>
                <div class="project__item__wrapper">
                    <div class="project__item">
                        <div class="project__item__imageWrapper">
                            <img src="images/network.svg">
                        </div>
                        <div class="project__item__time">
                            <p>3 дня</p>
                        </div>
                        <p>Настраиваем пользователей и полномочия </p>
                    </div>
                </div>
                <div class="project__arrow">
                    <img src="images/arrow.svg">
                </div>
                <div class="project__item__wrapper">
                    <div class="project__item">

                        <div class="project__item__imageWrapper">
                            <img src="images/technology.svg">
                        </div>
                        <div class="project__item__time">
                            <p>1-2 дня</p>
                        </div>
                        <p>Запускаем систему</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section fixed">
    <div class="container">
        <div class="fixed__title">
            <h2>Фиксируем рост бизнеса!</h2>
        </div>
    </div>
</section>

<section class="section innerTryNow">
    <div class="container">
        <div class="innerTryNow__rates">
            <h2>Попробуйте прямо сейчас!</h2>
            <div class="innerTryNow__rates__item">
                <div class="innerTryNow__rates__item__current">
                    <img src="images/rewind-time.png">
                    <h3>Длительность проекта</h3>
                    <p>От одного месяца</p>
                    <div class="innerTryNow__rates__item__link">
                        <a href="#">Подробнее</a>
                    </div>
                </div>
                <div class="innerTryNow__rates__item__current">
                    <img src="images/calendar.png">
                    <h3>30-дневная пробная версия</h3>
                    <p>Бесплатно</p>
                    <div class="innerTryNow__rates__item__link">
                        <a href="#">Бесплатная пробная версия</a>
                    </div>
                </div>
                <div class="innerTryNow__rates__item__current">
                    <img src="images/coin.png">
                    <h3>Цена: от 1500₽ за пользователя</h3>
                    <p>В месяц</p>
                    <div class="innerTryNow__rates__item__link">
                        <a href="#">Подробнее</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section vnedrenie" id="contacts">
    <div class="container">
        <h2 class="secondBlock__heading">Узнать стоимость проекта</h2>

        <form id="vnedrenie__form" action="/webforms/send_webform/"
              enctype="multipart/form-data" method="post" class="ajax_form af_example form-horizontal">


            <input type="hidden" name="system_email_to" value="603"/>
            <input type="hidden" name="system_form_id" value="124"/>

            <div class="bottomInput_wrapper">
                <div class="bottomInput"><span class="vnedrenie__formLabel">Ваше имя:</span>
                    <input class="vnedrenie__input"
                           id="data[new][vashe_imya]"
                           name="data[new][vashe_imya]"
                           value=""
                           type="text"
                           placeholder="Петр Иванов"></div>
                <div class="bottomInput"><span class="vnedrenie__formLabel">E-mail:</span>
                    <input class="vnedrenie__input"
                           id="data[new][email]"
                           name="data[new][email]"
                           value=""
                           type="text"
                           placeholder="mail@mail.ru"></div>
                <div class="bottomInput"><span class="vnedrenie__formLabel">Телефон:</span>
                    <input class="vnedrenie__input"
                           id="data[new][telefon]"
                           name="data[new][telefon]"
                           value=""
                           type="text"
                           placeholder="+7 (921) 200-30-01"></div>
                <div class="bottomInput"><span class="vnedrenie__formLabel">Сфера бизнеса:</span>
                    <input class="vnedrenie__input"
                           id="data[new][sfera_biznesa]"
                           name="data[new][sfera_biznesa]"
                           value=""
                           type="text"
                           placeholder="Пример, производственное предприятие"></div>
                <div class="bottomInput"><span class="vnedrenie__formLabel">Компания:</span>
                    <input class="vnedrenie__input"
                           id="data[new][kompaniya]"
                           name="data[new][kompaniya]"
                           value=""
                           type="text"
                           placeholder="Название"></div>
                <div class="bottomInput">
                    <span class="vnedrenie__formLabel">Число сотрудников:</span>

                    <!-- дубль в селекте не убирай -->
                    <select id="countOerson" name="data[new][kolichestvo_sotrudnikov]" class="turnintodropdown">
                        <option>от 1 до 10</option>
                        <option value="647">от 1 до 10</option>
                        <option value="648">от 11 до 25</option>
                        <option value="649">от 25 до 50</option>
                        <option value="650">от 50 и более</option>
                    </select>
                </div>
            </div>
            <div class="bottomInputLarge">
                <div class="control-group">
                    <div class="controls">
                        <span class="vnedrenie__formLabel">Сообщение:</span>
                        <textarea class="vnedrenie__textrarea"
                                  id="data[new][soobweine]"
                                  name="data[new][soobweine]"
                                  type="text"
                                  placeholder="Я хочу узнать стоимость внедрения для производственного предприятия."
                        ></textarea>
                        <span class="error_soobweine"></span>
                    </div>
                </div>
            </div>
            <div class="modal-form__row custom_form_row">
                <input type="text" name="data[new][users_address]" placeholder="Адресс"
                       class="order-form__input">
            </div>
            <div class="label__divider">
                <div class="control-group">
                    <div class="controls">
                        <label>
                            <input name="personal[]" value="" id="af_personal" class="checkbox_personal"
                                   type="checkbox"
                                   checked>Я ознакомился и принимаю <a target="_blank" href="/files/terms-2.pdf"
                                                                       class="personal_lnk">пользовательское
                            соглашение</a>.</label>
                    </div>
                </div>
            </div>
            <input type="hidden" name="ref_onsuccess" value="/webforms/posted/124"/>

            <div class="">
                <div class="control-group">
                    <div class="controls"><input id="vnedrenie__input_submit" class="btn btn-primary"
                                                 type="submit"
                                                 value="Отправить" form="vnedrenie__form"
                                                 onclick="yaCounter45681396.reachGoal('ZAYAVKA_PROEKT'); return true;">
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>

<footer itemscope itemtype="http://schema.org/Organization" class="footer" id="block4">

    <div class="container">

        <div class="footer__copyright">
            <p><img src="images/logo-footer.png"></p>
            <p>
                <small>
                    <span itemprop="name">ООО «Информационные <br/> технологии и консалтинг»</span><br/>©
                    2007-2019
                </small>
            </p>
        </div>

        <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress" class="footer__contacts">
            <p itemprop="streetAddress">Россия, 191119, г. Санкт-Петербург ул. Звенигородская, д. 1, корп.
                2.</p>
            <p itemprop="telephone">Телефон: <a class="" href="tel:+7 (812) 602-18-91">+7 (812) 602-18-91</a>
            </p>
            <p itemprop="email">Электронная почта: <a
                    href="mailto:info@itctg.ru">info@itctg.ru</a>
            </p>
        </div>

        <div class="footer__socials">

            <a target="_blank" href="https://www.facebook.com/itctgsap/" class="socials__link social_fb"><img
                    src="images/facebook.png"></a>
            <!--TODO: check, G+ dead-->
            <a target="_blank" href="https://www.youtube.com/channel/UCwIwuGVjsSJDJ8QHvi2TpZA"
               class="socials__link social_gplus"><img
                    src="images/g+.png"></a>
            <a target="_blank" href="https://www.youtube.com/channel/UCwIwuGVjsSJDJ8QHvi2TpZA"
               class="socials__link social_youtube"><img
                    src="images/you-tube.png"></a>


            <div style="clear: both;">
                <style type="text/css">
                    .studio_wrapper a {
                        color: #fff;
                        text-decoration: none;
                    }

                    .studio_wrapper a:visited {
                        color: #fff;
                        text-decoration: none;
                    }

                    .studio_wrapper a img {
                        display: inline-block;
                        vertical-align: bottom;
                    }

                    @media only screen and (max-width: 767px) {
                        .studio_wrapper {
                            text-align: center !important;
                        }
                    }
                </style>
                <div style="text-align:right; margin-top: 20px;" class="studio_wrapper">
                    <a href="https://petersburg-studio.com/sozdanie-saytov" target="_blank"
                       title="Разработка сайтов">
                        Создание сайта<br><img src="images/sp_logo.png" alt="Студия Веб-Питер">
                    </a>
                </div>
            </div>


        </div>


    </div>

    <div class="subFooter">
        <div class="container">
            <p>Все информационные материалы, представленные на Сайте, носят справочный характер и не могут в
                полной мере передавать достоверную информацию о свойствах и характеристиках Товара, и не
                являются публичной офертой в соответствии с пунктом 2 статьи 437 ГК РФ</p>
        </div>
    </div>
</footer>


<div class="remodal" data-remodal-id="modal">
    <button data-remodal-action="close" class="remodal-close"></button>

    <h2 class="modal__header">Заявка на 14-дневную версию</h2>


    <form id="vnedrenie__form_top" action="index.html" method="post"
          class="ajax_form af_example form-horizontal">
        <div class="vnedrenie__Wrapper vnedrenie__Wrapper_49">
            <div class="control-group"><label class="control-label" for="af_name"></label>
                <div class="controls"><input class="vnedrenie__input vnedrenie__input_top txt_contactPerson"
                                             id="af_name" name="name" value="" type="text"
                                             placeholder="Ваше имя"><span class="error_name"></span></div>
            </div>
            <div class="control-group"><label class="control-label" for="af_email"></label>
                <div class="controls"><input class="vnedrenie__input vnedrenie__input_top txt_email"
                                             id="af_email" name="email" value="" type="text"
                                             placeholder="E-mail"><span class="error_email"></span></div>
            </div>
            <div class="control-group"><label class="control-label" for="af_phone"></label>
                <div class="controls"><input class="vnedrenie__input vnedrenie__input_top txt_mobile"
                                             id="af_phone" name="phone" value="" type="text"
                                             placeholder="Телефон"><span class="error_phone"></span></div>
            </div>
            <div class="control-group">
                <div class="controls"><input class="utmInputField" id="af_utm" name="utm" value="" type="text">
                </div>
            </div>
        </div>
        <div class="vnedrenie__Wrapper vnedrenie__Wrapper_49">
            <div class="control-group"><label class="control-label" for="af_company"></label>
                <div class="controls"><input class="vnedrenie__input vnedrenie__input_top txt_country"
                                             id="af_company" name="company" value="" type="text"
                                             placeholder="Страна"><span class="error_company"></span></div>
            </div>
            <div class="control-group">
                <div class="controls"><textarea
                        class="vnedrenie__textrarea vnedrenie__textrarea_top vnedrenie__textrarea_2rows txt_companyName"
                        id="af_message" name="message" type="text" placeholder="Наименование организации"
                        name="message"></textarea><span class="error_message"></span></div>
            </div>
        </div>

        <div class="label__divider">
            <div class="control-group">
                <label class="control-label" for="af_personal"></label>
                <div class="controls"><label><input type="hidden" name="sap" id="sap" value="">
                    <input type="hidden" name="personal[]" value="">
                    <input name="personal[]" value="" id="af_personal" class="checkbox_personal" type="checkbox"
                           checked>Я ознакомился и принимаю <a target="_blank" href="terms-2.pdf"
                                                               class="personal_lnk">пользовательское
                        соглашение</a>.</label><span class="error_personal"></span></div>
            </div>
        </div>

        <div class="marginBottom_30px">
            <br>

            <button data-remodal-action="cancel" class="form__cancel">Отмена</button>
            <div class="control-group display_inline">
                <div class="controls">
                    <input id="1111111" class="btn btn-primary form__confirm" type="submit" value="Отправить"
                           form="vnedrenie__form_top">
                </div>
            </div>
        </div>


        <input type="hidden" name="af_action" value="f83901b3134cc645022a3869ca0188a4"/>
    </form>

</div>


<div class="remodal" data-remodal-id="modal-call-phone">
    <button data-remodal-action="close" class="remodal-close"></button>
    <h2 class="modal__header">Заказать звонок</h2>


    <form id="telephone__form"
          action="/webforms/send_webform/"
          enctype="multipart/form-data"
          method="post"
          class="ajax_form af_example form-horizontal">

        <input type="hidden" name="system_email_to" value="603"/>
        <input type="hidden" name="system_form_id" value="126"/>
        <div class="">
            <div class="control-group">
                <label class="control-label" for="data[new][vashe_imya]"></label>
                <div class="controls">
                    <input class="vnedrenie__input vnedrenie__input_topRow"
                           id="data[new][vashe_imya]"
                           name="data[new][vashe_imya]"
                           value=""
                           type="text"
                           placeholder="Ваше имя">
                    <span class="error_vashe_imya"></span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="data[new][nomer_telefona]"></label>
                <div class="controls">
                    <input class="vnedrenie__input vnedrenie__input_topRow"
                           id="data[new][nomer_telefona]"
                           name="data[new][nomer_telefona]"
                           value=""
                           type="text"
                           placeholder="Номер телефона">
                    <span class="error_nomer_telefona"></span>
                </div>
            </div>
        </div>
        <div class="modal-form__row custom_form_row">
            <input type="text" name="data[new][users_address]" placeholder="Адресс" class="order-form__input">
        </div>
        <div class="label__divider">
            <div class="control-group">
                <div class="controls">
                    <label>
                        <input name="personal[]" value="" id="af_personal" class="checkbox_personal"
                               type="checkbox"
                               checked>Я ознакомился и принимаю <a target="_blank" href="/files/terms-2.pdf"
                                                                   class="personal_lnk">пользовательское
                        соглашение</a>.</label>
                </div>
            </div>
        </div>
        <input type="hidden" name="ref_onsuccess" value="/webforms/posted/126"/>

        <div class="marginBottom_30px">
            <br>

            <button data-remodal-action="cancel" class="form__cancel">Отмена</button>
            <div class="control-group display_inline">
                <div class="controls">
                    <input id="126" class="btn btn-primary form__confirm" type="submit" value="Отправить"
                           form="telephone__form"
                           onclick="yaCounter45681396.reachGoal('ZAKAZ_ZVONKA'); return true;">
                </div>
            </div>
        </div>

    </form>

</div>

<!-- Yandex.Metrika counter -->
<script type="text/javascript">
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function () {
            try {
                w.yaCounter45681396 = new Ya.Metrika2({
                    id: 45681396,
                    clickmap: true,
                    trackLinks: true,
                    accurateTrackBounce: true,
                    webvisor: true
                });
            } catch (e) {
            }
        });

        var n = d.getElementsByTagName("script")[0],
            s = d.createElement("script"),
            f = function () {
                n.parentNode.insertBefore(s, n);
            };
        s.type = "text/javascript";
        s.async = true;
        s.src = "https://mc.yandex.ru/metrika/tag.js";

        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else {
            f();
        }
    })(document, window, "yandex_metrika_callbacks2");
</script>
<noscript>
    <div><img src="https://mc.yandex.ru/watch/45681396" style="position:absolute; left:-9999px;" alt=""/></div>
</noscript>
<!-- /Yandex.Metrika counter -->

<!--livetex-->
<script type='text/javascript'>
    window['l' + 'iv' + 'e' + 'Tex'] = true,
        window['li' + 've' + 'T' + 'e' + 'xID'] = 155689,
        window['liv' + 'eTex_ob' + 'jec' + 't'] = true;
    (function () {
        var t = document['cre' + 'at' + 'e' + 'Ele' + 'ment']('script');
        t.type = 'text/javascript';
        t.async = true;
        t.src = '//cs15.l' + 'ivet' + 'ex.ru/js/client' + '.js';
        var c = document['getElement' + 'sByTagN' + 'ame']('script')[0];
        if (c) c['par' + 'en' + 'tNod' + 'e']['i' + 'ns' + 'e' + 'rt' + 'Befo' + 're'](t, c);
        else document['docu' + 'mentEl' + 'ement']['first' + 'Chil' + 'd']['a' + 'ppe' + 'ndCh' + 'i' + 'ld'](t);
    })();
</script>
<!--/Livetex-->


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="js/OwlCarousel2-2.2.1/dist/owl.carousel.min.js"></script>
<!--<script src="--><!--js/owl.carousel.min.js"></script>-->
<script src="/templates/sap/FlexSlider/jquery.flexslider-min.js"></script>
<script src="js/Remodal-1.1.1/dist/remodal.min.js"></script>
<!--<script src="/templates/sap/Remodal-1.1.1/src/remodal.js"></script>-->
<script src="scroll-to.js?1559575008"></script>

<script src="/templates/sap/slickslider/slick.min.js"></script>
<script src="/templates/sap/fancybox3/jquery.fancybox.min.js"></script>
<script src="js/main.js?1559575008"></script>
<!--<script src="--><!--js/push.js"></script>-->
<script src="js/jquery.validate.min.js"></script>
<script src="js/jquery.maskedinput.min.js"></script>
</body>

</html>